Checks: '
        modernize-use-nullptr,
        bugprone-integer-division,
        bugprone-unhandled-self-assignment,
        cppcoreguidelines-avoid-do-while,
        cppcoreguidelines-avoid-goto,
        cppcoreguidelines-explicit-virtual-functions,
        cppcoreguidelines-init-variables
        cppcoreguidelines-non-private-member-variables-in-classes,
        cppcoreguidelines-pro-type-reinterpret-cast,
        cppcoreguidelines-pro-type-static-cast-downcast,
        cppcoreguidelines-pro-type-const-cast,
        cppcoreguidelines-pro-type-member-init,
        cppcoreguidelines-pro-type-reinterpret-cast,
        cppcoreguidelines-special-member-functions,
        cppcoreguidelines-virtual-class-destructor,
        cppcoreguidelines-prefer-member-initializer,
        cppcoreguidelines-narrowing-conversions,
        llvm-include-order,
        misc-const-correctness,
        performance-enum-size,
        performance-for-range-copy,
        performance-move-const-arg,
        performance-no-automatic-move,
        performance-no-int-to-ptr,
        performance-noexcept-move-constructor,
        readability-uppercase-literal-suffix,
        readability-braces-around-statements,
        readability-identifier-length,
        readability-avoid-const-params-in-decls,
        readability-avoid-nested-conditional-operator,
        readability-avoid-return-with-void-value,
        readability-avoid-unconditional-preprocessor-if,
        readability-container-contains,
        readability-container-data-pointer,
        readability-const-return-type,
        readability-duplicate-include,
        readability-else-after-return,
        readability-implicit-bool-conversion,
        readability-inconsistent-declaration-parameter-name,
        readability-isolate-declaration,
        readability-identifier-naming,
        readability-magic-numbers,
        readability-make-member-function-const,
        readability-misplaced-array-index,
        readability-qualified-auto,
        readability-redundant-casting,
        readability-redundant-control-flow,
        readability-simplify-boolean-expr,
        readability-static-accessed-through-instance'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
User: ''
CheckOptions:
  - key: modernize-avoid-c-arrays.AllowStringArrays
    value: 'true'
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  #- key: readability-identifier-naming.ClassConstantIgnoredRegexp
  #  value: '.*[iI]terator.*'
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ScopedEnumCase
    value: CamelCase
  - key: readability-identifier-naming.ScopedEnumConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key: readability-identifier-naming.ClassMemberPrefix
    value: m_
  - key: readability-identifier-naming.StaticConstantCase
    value: CamelCase
  - key: readability-identifier-naming.StaticConstantPrefix
    value: k
  - key: readability-identifier-naming.ConstantMemberCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantMemberPrefix
    value: k
  - key: readability-identifier-naming.ConstexprVariableCase
    value: CamelCase
  - key: readability-identifier-naming.ConstexprVariablePrefix
    value: k
  - key: readability-identifier-length.IgnoredVariableNames
    value: '^[abcdxyzijklnp]([0-9])?$'
  - key: readability-identifier-length.IgnoredParameterNames
    value: '^[abcdxyzijklnp]([0-9])?$'
  - key: readability-identifier-length.IgnoredLoopCounterNames
    value: '^[abcdxyzijklnp]([0-9])?$'
