[submodule "libraries/googletest"]
	path = libraries/googletest
	url = https://github.com/google/googletest.git
[submodule "libraries/half"]
	path = libraries/half
	url = https://github.com/melowntech/half.git
[submodule "libraries/benchmark"]
	path = libraries/benchmark
	url = https://github.com/google/benchmark.git
